@import url('https://fonts.googleapis.com/css?family=Open Sans|Montserrat');

header{
    margin: 0;
}

body {
  background-color: #E7FFE7;
  font-family:Open Sans;
  }

  .active{
    border-bottom: 5px solid #4E9729;
 }

#menu{
  max-height:40px;
  padding: 0;
}


#nav{
    font-size: 200%;
    list-style-type: none;
    letter-spacing: 3px;
    float: right;
    display: inline;
    padding-top:4%;
    padding-bottom:0%;
  }

  #nav li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
    font-weight: bold;
    
  }


  #nav a {
    text-decoration: none;
    color: green;
  }

  #hero-image{
    display: inline;
    height:280px;
    width:100%;
    background: url("https://i.imgur.com/UQWtTLc.png") no-repeat center center;
    animation-name: hero-zoom;
    animation-duration: 6s;
    animation-fill-mode: forwards;
    padding-top:10px;
  }
  
  #hero-outer{
    height:600px;
    width:100%;
    overflow: hidden;
    position: relative;
  }
  
  @keyframes hero-zoom {
    from{
      transform: scale(0.99);
    }
    to{
      transform: scale(1.01);
    }
  }

  #cover-text{
    display: inline;
    width: 550px;
    height: 200px;
    padding-top: 40px;
    padding-left: 5%;
    background-color: rgba(192, 192, 192, 0.7);
    bottom: 30px;
    right: 180px;
    float: left;
  }

#cover-text h2{
  font: Monsterrat;
  font-size: 240%;
  font-weight: bolder;
}

#about{
  padding-left:4%;
}

#about h2{
  color:#4E9729;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 240%;
}

#about p{
  color:#4E9729;
  font-size:160%;
}


#location {
  width: 100%;
  padding-left:4%;
  background-color: #CDFFCD;
}

#location h2{
  color:#4E9729;
  font-weight: bold;
  letter-spacing: 3px;
  font-size: 240%;
}

#location p{
  letter-spacing: 2px;
  font-size: 20px;
  font-family:Montserrat;
}


#social-net{
  background-color: #4E9729;
  max-height: 180px;
  text-align: center;
  font-size: 180%;
  white-space: nowrap;
}  

#social-net li{
  display: inline;
  white-space: nowrap;
}

#social-net i {
  font-size: 180%;
  margin: 1%;
  padding: 5%;
  color: white;
}

/*----Contact form------- */
#form h3{
  font-weight: bolder;
  font-family: Montserrat;
  text-transform: uppercase;
}

button[type=submit]:hover {
  background-color: green;
}

@media(min-width: 992px) {
  #form {
      padding-top: 30px;
      min-height: 270px;
      margin: 0 auto;
      max-width: 75%;
  }
}


.img-thumbnail-1{
  min-height:110px;
  min-width:90px;
  max-height:110px;
  max-width: 125px;
}

#review{
  padding-left:5%;
}

.table {
  background-color:#EAEAEA
}


.heading {
  font-size: 25px;
  margin-right: 20px;
}

.fa {
  font-size: 25px;
}

.checked {
  color: orange;
}

/* Three column layout */
.side {
  float: left;
  width: 12%;
  margin-top: 10px;
}

.middle {
  float: left;
  width: 70%;
  margin-top: 10px;
}

/* Place text to the right */
.right {
  text-align: right;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

/* Individual bars */
.bar-5 {width: 60%; height: 18px; background-color: #04AA6D;}
.bar-4 {width: 30%; height: 18px; background-color: #2196F3;}
.bar-3 {width: 10%; height: 18px; background-color: #00bcd4;}
.bar-2 {width: 4%; height: 18px; background-color: #ff9800;}
.bar-1 {width: 15%; height: 18px; background-color: #f44336;}

/* Responsive layout - make the columns stack on top of each other instead of next to each other */
@media (max-width: 400px) {
  .side, .middle {
    width: 100%;
  }
  /* Hide the right column on small screens */
  .right {
    display: none;
  }
}

/* Review Comments */
#r1{
  background-color:#3399FF;
  font-family:Montserrat;
  color:white;
  font-weight:bolder;
  font-size:30px;
  text-align: center;
  width: 100%;
  border: 15px solid;
  padding: 30px;
  margin: 10px;
  align-self: center;
}

#r2{
  background-color:#3399FF;
  font-family:Montserrat;
  color:white;
  font-weight:bolder;
  font-size:30px;
  text-align: center;
  width: 100%;
  border: 15px solid;
  padding: 30px;
  margin: 10px;
  align-self: center;
}

#r3{
  background-color:#3399FF;
  font-family:Montserrat;
  color:white;
  font-weight:bolder;
  font-size:30px;
  text-align: center;
  width: 100%;
  border: 15px solid;
  padding: 30px;
  margin: 10px;
  align-self: center;
}

#r4{
  background-color:#3399FF;
  font-family:Montserrat;
  color:white;
  font-weight:bolder;
  font-size:30px;
  text-align: center;
  width: 100%;
  border: 15px solid;
  padding: 30px;
  margin: 10px;
  align-self: center;
}

#cr{
  text-align:center;
  font-weight:bolder;
}